@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PPNeueMontreal-Book";
  src: url("../public/PPNeueMontreal-Book.otf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --ghostWhite: #fbfbfb;
  --midnightBlack: #0a0a0a;
  --PPNeueMontreal: "PPNeueMontreal-Book";
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  @apply h-full;
}

body {
  @apply bg-ghostWite text-midnightBlack font-PPNeueMontreal mx-[27px] mt-6;
}

.navlist li {
  @apply uppercase text-[17.452px] tracking-[0.349px] leading-[1.3rem] text-right;
}

h1 {
  @apply uppercase text-[260.332px] tracking-[2.603px] leading-[14.5rem];
}

h2 {
  @apply uppercase text-[149px] tracking-[1.609px];
}

.home .imagesGrid > * {
  @apply min-w-[311px] max-w-[500px] h-[400px] relative;
  /* bg-gray-400  */
}
.home .imagesGrid > div:nth-child(odd) {
  @apply top-16;
}

.home .imagesGrid > div:nth-child(2) {
  @apply justify-self-center w-full;
}

.home .imagesGrid > div:nth-child(2) > * {
  @apply w-[80%];
}

.home .imagesGrid > div:nth-child(3) {
  @apply mr-[27px] !justify-self-end;
}

.home .imagesGrid > div:nth-child(6n) {
  @apply mr-[27px] !justify-self-end w-full;
}

.home .imagesGrid > div:nth-child(6n) > * {
  @apply w-full;
}

.home .imagesGrid > div:nth-child(7n) {
  @apply w-full -top-24;
}

.home .imagesGrid > div:nth-child(7n) > * {
  @apply w-[80%];
}


.home .imagesGrid > div:nth-child(odd):not(:first-child) {
  @apply justify-self-center;
}

