@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PPNeueMontreal-Book";
  src: url("../public/PPNeueMontreal-Book.otf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --ghostWhite: #fbfbfb;
  --midnightBlack: #0a0a0a;
  --PPNeueMontreal: "PPNeueMontreal-Book";
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  @apply h-full;
}

body {
  @apply bg-ghostWite text-midnightBlack font-PPNeueMontreal mx-[1rem] mt-6;
}

.navlist li, h5 {
  @apply uppercase text-[17.452px] tracking-[0.349px] leading-[1.3rem] text-right;
}

h1 {
  @apply uppercase sm:text-[260.332px] tracking-[2.603px] leading-[14.5rem];
}

.nameDiv h1 {
  @apply lg:text-[260.332px] text-[4.2rem] lg:leading-[14.5rem] leading-[56.332px]
}

h2 {
  @apply uppercase text-[149px] tracking-[1.609px];
}

h3 {
  @apply uppercase text-[90px] leading-[5rem];
}

h4,p {
  @apply uppercase text-[30px];
}

.home .imagesGrid > * {
  @apply min-w-[311px] max-w-[500px] h-[400px] relative;
  /* bg-gray-400  */
}
.home .imagesGrid > a:nth-child(odd) {
  @apply top-36;
}

.home .imagesGrid > a:nth-child(2) {
  @apply justify-self-center w-full;
  text-align: -webkit-center;
}

.home .imagesGrid > a:nth-child(2) > * {
  @apply w-[80%];
}

.home .imagesGrid > a:nth-child(3) {
  @apply mr-[1rem] top-48 !justify-self-end;
}

.home .imagesGrid > a:nth-child(4) {
  @apply top-72;
}

.home .imagesGrid > a:nth-child(5) {
  @apply top-40;
}

.home .imagesGrid > a:nth-child(4) > div img {
  @apply w-[85%];
}

.home .imagesGrid > a:nth-child(3) > div img {
  @apply w-[360px];
}

.home .imagesGrid > a:nth-child(6n) {
  @apply mr-[1rem] !justify-self-end w-full;
  text-align: -webkit-center;
}

.home .imagesGrid > a:nth-child(6n) > * {
  @apply w-full;
}

.home .imagesGrid > a:nth-child(7n) {
  @apply w-full top-24;
}

.home .imagesGrid > a:nth-child(7n) > * {
  @apply w-[80%];
}

.home .imagesGrid > a:nth-child(8)  > div img {
  @apply w-[90%];
}

.home .imagesGrid > a:nth-child(9) {
  @apply -top-12 !justify-self-end mr-4;
}

.home .imagesGrid > a:nth-child(9)  > div img {
  @apply w-[100%];
}

.home .imagesGrid > a:nth-child(odd):not(:first-child) {
  @apply justify-self-center;
}

